
.button-3d::before, .button::after {
  position: absolute;
  content: '';
  transition: all 0.8s;
}
.button-3d {
  display: inline-block;
  padding: 5px 5px;
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.5s;
  background-color: #fb9325;
}
.button-3d::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  transform: skewX(45deg);
  background-color: #fb9325;
}
.button-3d::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  transform: skewY(45deg);
  background-color:  #fb9325;
}
.button-3d:active {
  margin-left: 10px;
  margin-top: 10px;
}
.button-3d:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.button-3d:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}
