
  .card {
    width: 600px;
    padding: 30px;
    background: #fb9325;
    margin: auto;
    transition: 0.3s ease;
    box-shadow: 0 1px 1px rgb(0, 0, 0);
  }
  .card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.02);
  }
  .card:hover .entry-title {
    background-position: -100% 0;
  }
  .entry-title {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000000 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: 0.5s ease-in-out;
    font-family: raleway, 'Roboto', sans-serif;
    opacity: 85%;      
    text-align: center;
    font-size: 23px;
  }
  .entry-title a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  small {
    margin-top: 5px;
    display: block;
    font-family: raleway, 'Roboto', sans-serif;
    color: white;
    text-align: center;
  }
  small a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  span {
    display: block;
    margin-top: 10px;
    font-family: raleway, 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
  }
  span a {
    color: white;
    text-align: center;
  }
  .iklan {
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    width: 200px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .iklan p {
    margin: 0 0 15px;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
  }
  .iklan a {
    background-color: #ff4757;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 5px;
    text-align: center;
  }
  